---
import Icon from "./Icon.astro";
---

<swiper-container
  slides-per-view="1"
  breakpoints='{"1024": {"slidesPerView": 3}}'
  speed="500"
  loop="true"
  navigation="true"
  pagination="true"
  effect="coverflow"
  depth="150"
  clickable="true"
  class="h-[30rem] swiper-container"
>
  <swiper-slide>
    <img src="/assets/fondo.jpeg" width="400" height="200" />
    <div class="card flex flex-col bg-white pl-4 pt-[1rem]">
      <p class="subtitle">Web</p>
      <p class="pt-[1rem] font-bold text-3xl">Nombre del proyecto</p>
      <a class="pt-[1rem] flex flex-row" href="">
        <p class="mr-[12px] font-bold">View demo</p>
        <div class="mt-[5px]">
          <Icon icon={"arrow-right"} />
        </div>
      </a>
    </div>
  </swiper-slide>
  <swiper-slide>
    <img src="/assets/wisboo.png" width="400" height="3<<00" />
    <div class="card flex flex-col bg-white pl-4 pt-[1rem]">
      <p class="subtitle">Web</p>
      <p class="pt-[1rem] font-bold text-3xl">Wisboo</p>
      <div class="pt-[1rem] flex flex-row">
        <a class="mr-[12px] font-bold" href="https://www.wisboo.com/" target="_blank">Ir al sitio</a>
         <a class="mt-[4px]" href="https://www.wisboo.com/" target="_blank">
          <div >
            <Icon icon={"arrow-right"} />
          </div>
        </a>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide>
    <img src="/assets/fondo.jpeg" width="400" height="200" />
    <div class="card flex flex-col bg-white pl-4 pt-[1rem]">
      <p class="subtitle">Web</p>
      <p class="pt-[1rem] font-bold text-3xl">Nombre del proyecto</p>
      <a class="pt-[1rem] flex flex-row" href="">
        <p class="mr-[12px] font-bold">View demo</p>
        <div class="mt-[5px]">
          <Icon icon={"arrow-right"} />
        </div>
      </a>
    </div>
  </swiper-slide>
  <swiper-slide>
    <img src="/assets/fondo.jpeg" width="400" height="200" />
    <div class="card flex flex-col bg-white pl-4 pt-[1rem]">
      <p class="subtitle">Web</p>
      <p class="pt-[1rem] font-bold text-3xl">Nombre del proyecto</p>
      <a class="pt-[1rem] flex flex-row" href="">
        <p class="mr-[12px] font-bold">View demo</p>
        <div class="mt-[5px]">
          <Icon icon={"arrow-right"} />
        </div>
      </a>
    </div>
  </swiper-slide>
</swiper-container>

<style>
  .swiper-container::part(bullet-active) {
    background-color: var(--accent-dark);
  }
  .swiper-container::part(button-prev) {
    color: var(--accent-dark);
  }
  .swiper-container::part(button-next) {
    color: var(--accent-dark);
  }
  .card {
    border-radius: 0.75rem;
    text-decoration: none;
    transition: box-shadow var(--theme-transition);
  }

  img {
    grid-area: 1 / 1 / 3 / 3;
    width: 100%;
    height: auto;
    border-radius: 0.75rem;
  }

  .subtitle {
    color: var(--gray-300);
    font-weight: bold;
  }
</style>
