---
import { changeLanguage } from "i18next";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/Hero.astro";
import { ContactUs } from "../../components/ContactUS";
import Footer from "../../components/Footer.astro";
import Icon from "../../components/Icon.astro";
import { t } from "i18next";
import CallToAction from "../../components/CallToAction.astro";

changeLanguage("es");
---

<BaseLayout
  title="My Work | Rodrigo Juarez"
  description="Learn about Rodrigo Juarez's most recent projects"
>
  <div class="stack gap-20">
    <main class="wrapper stack about gap-20">
      <Hero
        title="Mantengámonos en contacto!"
        tagline="Escríbeme un mensaje y me pondré en contacto contigo en breve."
        align="center"
      />
      <section class="flex flex-col gap-10 lg:flex-row">
        <div class="flex flex-col w-[50%] h-auto gap-10">
          <div class="flex flex-col gap-2">
            <label for="mail">Email</label>
            <p id="mail" class="text-2xl">juarezr100@gmail.com</p>
          </div>
          <CallToAction
            href="https://drive.google.com/uc?id=1wnVjbd5s0axWSs4LqrIuxG_uQnZVJR8h&export=download"
            extraStyles="w-[20rem] h-[4rem] items-center"
          >
            {t("CONTACT.DOWNLOAD")}
            <Icon icon="download" size="1.2em" />
          </CallToAction>
        </div>
        <ContactUs submit={t("FORM.SUBMIT")} name={t("FORM.NAME.LABEL")} message={t("FORM.MESSAGE.LABEL")} namePlaceholder={t("FORM.NAME.PLACEHOLDER")} messagePlaceholder={t("FORM.MESSAGE.PLACEHOLDER")} emailPlaceholder={t("FORM.EMAIL.PLACEHOLDER")} client:only />
      </section>
    </main>
  </div>
  <Footer />
</BaseLayout>
