---
import { changeLanguage } from "i18next";
import { getCollection } from "astro:content";
import { User } from "@nextui-org/react";
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../../layouts/BaseLayout.astro";
// Component Imports
import CallToAction from "../../components/CallToAction.astro";
import Grid from "../../components/Grid.astro";
import Hero from "../../components/Hero.astro";
import Icon from "../../components/Icon.astro";
import Pill from "../../components/Pill.astro";
import PortfolioPreview from "../../components/PortfolioPreview.astro";
// Page section components
import ContactCTA from "../../components/ContactCTA.astro";
import Skills from "../../components/Skills.astro";
import Slider from "../../components/Slider.astro";
import Footer from "../../components/Footer.astro";

changeLanguage("es");

// Content Fetching: List four most recent work projects
const projects = (await getCollection("work"))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
  .slice(0, 4);
---

<BaseLayout>
  <div class="stack gap-20 lg:gap-48">
    <div class="wrapper stack gap-8 lg:gap-20">
      <header class="hero">
        <Hero
          title="Hola! Me llamo Rodrigo Juarez"
          tagline="Soy un Desarrollador Full Stack, actualmente viviendo en Misiones, Argentina. Me especializo en tecnologias como React, Angular, Node y Ruby On Rails."
          align="start"
        >
          <div class="roles">
            <Pill><Icon icon="code" size="1.33em" /> Full Stack Developer</Pill>
            <Pill>
              <Icon icon="pencil-line" size="1.33em" /> Engineering Manager
            </Pill>
          </div>
        </Hero>

        <img
          alt="Rodrigo Juarez"
          width="480"
          height="620"
          src="/assets/perfil.webp"
        />
      </header>
      <Skills />
    </div>

    <main class="wrapper stack gap-20 lg:gap-48">
      <section>
        <div class="flex flex-col mb-[5rem] gap-2 lg:gap-4">
          <h3 class="text-center text-[3.5rem]">Mis trabajos</h3>
          <p class="text-center text-xl">
            Echa un vistazo a mis anteriores trabajos.
          </p>
        </div>
        <Slider />
      </section>

      <section class="section with-background bg-variant">
        <header class="section-header stack gap-2 lg:gap-4">
          <h3>Testimonios</h3>
          <p>
            He tenido el placer de conocer y trabajar con muchas personas
            geniales en mi trayecto en el mundo tech. Estas son algunas de
            ellas:
          </p>
        </header>

        <div class="gallery">
          <Grid>
            {
              [
                {
                  name: "Facundo Bettella",
                  comment:
                    "Una de las cosas que más destaco de Rodrigo es que siempre dispuesto a ayudarte en lo que necesites. Programar con él me ayudó a tener mejores soft skills porque aprendes constantemente de su forma de ser.",
                  position: "Full Stack Developer at EY",
                  img: "https://i.ibb.co/3CBmTQP/facundo.jpg",
                  link: "https://www.linkedin.com/in/facundo-bettella-iunnissi-dev/",
                },
                {
                  name: "Andres Trujillo",
                  comment:
                    "Rodrigo es un gran desarrollador. Su deseo de aprender siempre algo nuevo es contagioso y te empuja a mejorar tus habilidades. Realmente ama lo que hace y se nota cuando hablas con él.",
                  position: "Full Stack Developer at Vita Wallet",
                  img: "https://media.licdn.com/dms/image/C4D03AQE3Dvbfje4z-A/profile-displayphoto-shrink_100_100/0/1622433907126?e=1704931200&v=beta&t=MJgKO2DRuFWZkLb_0zhie8IPHmileeUQ0zcJSw8Ae0Y",
                  link: "https://www.linkedin.com/in/andresvelasqueztrujillo/",
                },
                {
                  name: "Fernando Diaz",
                  comment:
                    "En mi paso por Wisboo, Rodrigo fue un excelente compañero y mentor. Siempre atento a todo lo que fuera necesario para cumplir las metas y tambien para mi desarrollo profesional",
                  position: "Front End Developer",
                  img: "https://media.licdn.com/dms/image/C4D03AQENZH2fpD0-PA/profile-displayphoto-shrink_100_100/0/1661154212068?e=1704931200&v=beta&t=2rVOyTzSh-CPPaxsJ80xdBwy_pya19ZEaV3wK9MhpCQ",
                  link: "https://www.linkedin.com/in/facundo-bettella-iunnissi-dev/",
                },
                {
                  name: "Leandro Marco",
                  comment:
                    "Recomiendo a Rodrigo como un gran profesional. Sus habilidades interpersonales son destacables, es muy agradable tener reuniones con él debido a su buena energía.",
                  position: "Tech Lead at Wisboo",
                  img: "https://media.licdn.com/dms/image/C4D03AQEVhHbfsZXSaw/profile-displayphoto-shrink_100_100/0/1626141691035?e=1704931200&v=beta&t=1nI4Hx7P2_hfMK_2Guy57QQjtMyBdg8P_1PLlKowq4Q",
                  link: "https://www.linkedin.com/in/facundo-bettella-iunnissi-dev/",
                },
              ].map(({ name, comment, position, img, link }) => (
                <li class="mention-card flex flex-col gap-4 p-8 justify-normal">
                  <p class="w-fit">
                    <q>{comment}</q>
                  </p>
                  <div class="w-full flex flex-row justify-between">
                    <User
                      client:visible
                      name={name}
                      description={position}
                      avatarProps={{
                        src: img,
                      }}
                    />
                    <div class="social">
                      <a href={link} target="_blank">
                        <Icon icon="linkedin-logo" size="30px" />
                      </a>
                    </div>
                  </div>
                </li>
              ))
            }
          </Grid>
        </div>
      </section>
    </main>
    <ContactCTA />
  </div>
  <Footer />
</BaseLayout>

<style>
  .social {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--accent-dark);
    transition: color var(--theme-transition);
  }

  .social:hover,
  .social:focus {
    color: var(--accent-text-over);
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .roles {
    display: none;
  }

  .hero img {
    aspect-ratio: auto;
    object-fit: cover;
    object-position: top;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  @media (min-width: 50em) {
    .hero {
      display: grid;
      grid-template-columns: 6fr 4fr;
      padding-inline: 2.5rem;
      gap: 3.75rem;
    }

    .roles {
      margin-top: 0.5rem;
      display: flex;
      gap: 0.5rem;
    }

    .hero img {
      aspect-ratio: 3 / 4;
      border-radius: 4.5rem;
      object-fit: cover;
    }

  }

  /* ====================================================== */

  .section {
    display: grid;
    gap: 2rem;
  }

  .with-background {
    position: relative;
  }

  .with-background::before {
    --hero-bg: var(--bg-image-subtle-2);

    content: "";
    position: absolute;
    pointer-events: none;
    left: 50%;
    width: 100vw;
    aspect-ratio: calc(2.25 / var(--bg-scale));
    top: 0;
    transform: translateY(-75%) translateX(-50%);
    background:
      url("/assets/backgrounds/noise.png") top center/220px repeat,
      var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
      var(--gray-999);
    background-blend-mode: overlay, normal, normal, normal;
    mix-blend-mode: var(--bg-blend-mode);
    z-index: -1;
  }

  .with-background.bg-variant::before {
    --hero-bg: var(--bg-image-subtle-1);
  }

  .title-header {
    font-size: var(--text-2xl);
  }

  .section-header {
    justify-self: center;
    text-align: center;
    max-width: 50ch;
    font-size: var(--text-md);
    color: var(--gray-300);
  }

  .section-header h3 {
    font-size: var(--text-2xl);
  }

  @media (min-width: 50em) {
    .section {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "header header header header" "gallery gallery gallery gallery";
      gap: 5rem;
    }

    .section.with-cta {
      grid-template-areas: "header header header cta" "gallery gallery gallery gallery";
    }

    .section-header {
      grid-area: header;
      font-size: var(--text-lg);
    }

    .section-header h3 {
      font-size: var(--text-4xl);
    }

    .with-cta .section-header {
      justify-self: flex-start;
      text-align: left;
    }

    .gallery {
      grid-area: gallery;
    }

    .cta {
      grid-area: cta;
    }
  }

  /* ====================================================== */

  .mention-card {
    display: flex;
    height: 14rem;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    color: var(--gray-300);
    background: var(--gradient-subtle);
    box-shadow: var(--shadow-sm);
  }

  @media (min-width: 50em) {
    .mention-card {
      border-radius: 1.5rem;
      height: 10.5rem;
    }
  }
</style>
